.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}

.btn-box::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--bg-color);
  width: 0;
  height: 100%;
  z-index: 2;
}

.btn-box a {
  position: relative;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.9rem;
  font-weight: 600;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: var(--main-color);
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.btn-box a:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box a:nth-child(2)::before {
  background: var(--main-color);
}

.home-content .btn-box::before {
  width: 100%;
}

.home-content .btn-box::before {
  animation: showRight 0.7s ease forwards;
  animation-delay: 2s;
}
